body {
  text-align: center;
  background-color: gray;
}

h1 {
  font-size: 5rem;
  color: white;
  font-family: "Poppins", sans-serif;
  text-shadow: 3px 0 #920243;
}

.w {
  background-color: white;
}
.a {
  background-color: white;
}
.s {
  background-color: white;
}
.d {
  background-color: white;
}
.v {
  background-color: white;
}
.j {
  background-color: white;
}
.o {
  background-color: white;
}
.p {
  background-color: white;
}

.container {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.piano {
  outline: none;
  border: 10px solid #404b69;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.footer {
  margin: 10rem;
  color: #dbe;
  font-family: sans-serif;
}
